// .shifts-table{
//     width:100vw;
//     overflow-x: scroll;
// }

// .shift-box{
//     width:100px;
//     height: 50px;
// }

// .shift-table-row-head{
//     width:250px;
//     height: 50px;
//     border: white solid;
// }

.custom-table{
    width: 240px !important;
    display: flex;
    border-bottom: none;
}

.text-style{
    color: rgb(89, 93, 112);
}

